
/* body { 
  background:  url(https://media.giphy.com/media/csrTZ7cBdKg24/giphy.gif) no-repeat; 
  background-size: cover;
} */
body{
    background-image:url("../images/background.jpg");
        background-size: cover;
    }
    

.character-tile{
    padding: 0%;
}

.characterText{
    font-family: fantasy;
    color: black;
    font-size: small;
    padding: 2px;
    text-align: center;
    }
.characterText.characterTextWhite{
    font-family: fantasy;
    color: white;
    font-size: small;
    padding: 2px;
    text-align: center;
}

.neutral-character-background.defender-character-background{
    background-color: black;
    border: solid 2px green;
    } 

.neutral-character-background.enemy-character-background{
    background-color: red;
    border: solid 2px black;
    }    

/* .enemy-character-background{
    background-color: red;
    border: solid 2px black;
}     */

.neutral-character-background{
    background-color: white;
    border: solid 2px green;
    }

.gandalfHP{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color:black;
    }

#gandalfpic{
    display: block;
    margin: auto;
    }

.gimliHP{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color:black;
    }
.gimliHPWhite{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color:white;
    }

#gimlipic{
    display: block;
    margin: auto;
    }

.gollumHP{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color:black;
    }
.gollumHPWhite{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color:white;
    }

#gollumpic{
    display: block;
    margin: auto;
    }

.legolasHP{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color:black;
    }
.legolasHPWhite{
    text-align: center;
    padding: 2px;
    font-family: fantasy;
    color: white
    }

#legolaspic{
    display: block;
    margin: auto;
    }

#pic{
    display: block;
    margin: auto;
    }
#sectionText{
    font-family: fantasy;
    color: black;
    font-size: large;
    margin: 20px;
    }

#titleText{
    font-family: fantasy;
    color: black;
    text-align: center;
    font-size: x-large;
    margin: 20px;
}

